<h1>Log In</h1>

<form  action="<%= sessions_url %>" method="post">
  
  <label>
    Username: 
    <input type="text" name="user[user_name]">
  </label>
  <br>
  <label>
    Password: 
    <input type="text" name="user[password]">
  </label>
  <br>
  <input type="submit" value="Enter cat cult">
</form>